.day-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 40px;
    width: 155px;
    border: 2px solid #101115;
}

.arrow-btn {
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    color: #525560;
    cursor: pointer;
    font-size: 0.6rem;
}

.arrow-btn:hover {
    color: white;
}

.selected-day {
    font-size: 13px;
    font-family: 'SF Pro Display';
    font-weight: 500;
}
