.switch-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.switch {
  display: none; 
}

.switch-label {

  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #141519; 
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-label .switch-button {
  content: '';
  position: absolute;
  width: 23px; 
  height: 23px; 
  background-color: white; 
  border-radius: 50%;
  transition: transform 0.3s;
  left: 1px; 
}

.switch-container.on .switch-label {
  background-color: red; 
}

.switch-container.on .switch-button {
  transform: translateX(25px); 
}

.switch-text {
  margin-left: 10px; 
}
